---
import Layout from '../layouts/Layout.astro';
import JobCard from '../components/JobCard.astro';
import { getJobs } from '../services/jobService';

const jobs = getJobs();
---

<Layout title="Ofertas Laborales">
  <section>
    <h1 class="text-3xl font-bold text-gray-800 mb-8">Ofertas Laborales Disponibles</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {jobs.map(job => (
        <JobCard 
          status={job.status}
          title={job.title} 
          location={job.location}
          applications={job.applications}
          id={job.id}
          modality={job.details.modality}
          salary={job.details.salary}
        />
      ))}
    </div>
  </section>
</Layout>